@{
    ViewBag.Title = "Logout";
}
<div class="frameInside">
    <div class="styleBox">
        <div class="textBgr">
            <h4>Goodbye <span class="authenUser">@ViewBag.Username</span>,</h4>
            <hr />
            <p>Come back again ...</p>
            <hr />
        </div>
    </div>
</div>
