@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div class="frameInside">
        <div style="margin:50px 250px;">
            <img src="~/Content/UnderConst.jpg" />
        </div>
    </div>
</body>
</html>
